* {
    margin: 0;
    box-sizing: border-box;
}
.contenidor-tauler {
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.tauler {
    display: flex;
    flex-direction: column;
    row-gap: 5px;
}

.fila {
    display: flex;
    flex-direction: row;
    column-gap: 5px;
}

.casella {
    border: 1px solid #000;
    text-align: center;
    width: 25px;
    height: 25px;
}

.casella > img {
    height: 100%
}

.marcada {
    background-color: yellow;
}